{{define "morse"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enigme Morse</title>
    <link rel="stylesheet" href="/static/css/morse.css">
</head>
<body>
    <header>
        <h1>Challenge Morse</h1>
    </header>
    <main>
        <img src="/static/images/Lecteur MP3.jpg" alt="Lecteur MP3">

        <audio controls>
            <source src="/static/audio/morse.wav" type="audio/wav">
            Votre navigateur ne supporte pas l'élément audio.
        </audio>
    </main>
    <footer>
        <a href="/">Revenir a la page précédente</a>
    </footer>
</body>
</html>
{{end}}