{{define "suspect"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DGSI — Opération Eclipse</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Barlow+Condensed:wght@400;600;700;900&family=Barlow:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/suspect.css">
</head>

<body>
<div class="header-logo">
            <div class="logo-placeholder">IP</div>
            <div>
                <h1>INTERPOL</h1>
                <div style="font-size: 0.8em; color: #a9cce3; letter-spacing: 1px;">ORGANISATION INTERNATIONALE DE POLICE CRIMINELLE</div>
            </div>
        </div>
        <div class="header-info">
            <p><strong>PORTAL ID:</strong> SECURE-992A</p>
            <p><strong>DATE:</strong> <span id="current-date"></span></p>
        </div>
    </header>

    <main>
        <div class="red-notice-alert">
            <h2>WANTED - RECHERCHE ACTIVE</h2>
            <p><strong>Affaire #8492-B :</strong> Vol critique d'informations classifiées à la Banque Centrale européenne. Un mandat d'arrêt international a été émis. La collaboration de tous les bureaux centraux nationaux est requise.</p>
            <p>Les données biométriques et les témoignages ont permis d'établir le profil suivant. Le suspect <strong>doit impérativement</strong> correspondre à l'intégralité de ces critères :</p>
            
            <div class="criteria-list">
                <ul style="margin:0; padding-left: 20px;">
                    <li>Nationalité : <strong>Russe</strong>.</li>
                    <li>Tranche d'âge : <strong>Entre 20 et 40 ans</strong>.</li>
                    <li>Signe distinctif : <strong>Porte des lunettes de vue</strong>.</li>
                    <li>Capillaire : <strong>Cheveux blonds</strong>.</li>
                </ul>
            </div>
            <p style="margin-bottom: 0; margin-top: 20px; font-weight: bold; color: var(--interpol-red);">Veuillez croiser ces critères avec la base de données ci-dessous pour identifier l'individu.</p>
        </div>

        <div class="suspects-grid" id="suspects-container">
            </div>
    </main>

    <div id="result-modal">
        <div class="modal-content" id="modal-content">
            <h2 id="result-title">STATUT</h2>
            <p id="result-message">Message d'évaluation de l'arrestation.</p>
            <button class="btn-restart" onclick="location.reload()">FERMER ET REPRENDRE L'ENQUÊTE</button>
        </div>
    </div>

    <script src="/static/js/suspect.js"></script>

</body>

</html>
{{end}}